# DataFrame

In [1]:
import pandas as pd

## 创建DataFrame

In [2]:
# 创建空的DAtaFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
# 由单个列表创建DataFrame
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
#二维列表创建DataFrame
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [5]:
# 指定dtype
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [6]:
# 从 ndarrays/Lists 的字典来创建 DataFrame
data = {'name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,28,45]}
df = pd.DataFrame(data)
print(df)

    name  Age
0    Tom   28
1   Jack   34
2  Steve   28
3  Ricky   45

In [8]:
# 使用列表作为索引，创建一个数据帧
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   28
rank4  Ricky   45

In [9]:
# 从字典列表创建 DataFrame
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [11]:
# 传递字典列表和行索引来创建数据帧
df = pd.DataFrame(data,index=['First','Second'])
print(df)

        a   b     c
First   1   2   NaN
Second  5  10  20.0

In [12]:
# 使用字典，行索引和列索引列表创建数据帧(DataFrame)。
df1 = pd.DataFrame(data,index=['First','Second'],columns=['a','b'])

df2 = pd.DataFrame(data,index=['First','Second'],columns=['a','c'])
print(df1)
print(df2)

        a   b
First   1   2
Second  5  10
        a     c
First   1   NaN
Second  5  20.0

In [14]:
# 从 Series 字典来创建 DataFrame
d={
    'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index=['a','b','c','d'])
}
df= pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

## 操作

In [15]:
# 读取一列
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [16]:
# 添加列
print(df)
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [17]:
# 删除列
print(df)


print('删除一列')
del df['one']
print(df)
print('再删除一列')
df.pop('two')
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
删除一列
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
再删除一列
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [18]:
# 读取行
# 按索引选择
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print(df.loc['b'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    2.0
two    2.0
Name: b, dtype: float64

In [21]:
# 按位置选择
print(df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [24]:
# 选择多行
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [25]:
# 添加行
df = pd.DataFrame([[1,2],[3,4]],columns = ['a','b'])
df2 = pd.DataFrame([[5,6],[7,8]],columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [26]:
# 删除行
# 使用索引标签从 DataFrame 中删除行。 如果标签重复，则会删除多行。
print(df)
print('-------------')
df =df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
-------------
   a  b
1  3  4
1  7  8